@import './base.css';

#app1 {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
  background-color: cornsilk;
  height: 100vh
}

#app2 {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
  background-color: cornsilk;
  height: 100vh
}

#app3 {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
  background-color: cornsilk;
  height: 100vh
}


/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (width: 100%) {
  body {
    display: grid;
    height: 100%;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
